<html>
    <head>
    <style>
		body{
			background-image: url("https://images.unsplash.com/photo-1483125796430-526962b9830b");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			background-color: #e2e2e2;
		}
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
		  background-color: #ffffff;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
          width: 12.5%;
        }
		
		#container{
			display: inline-block;
			text-align: right;
		}

		#button1{
			width: 100px;
		}		

		#button2{
			width: 150px;
		}
    </style>
    </head>
    <body>
		<a href="https://ibb.co/JmZDgqm"><img src="https://i.ibb.co/mbpfg0b/Title.png" alt="Title" border="0"></a>
		<br>
        <table>
        <tr>
        <td>
            <table>
                <tr>
                    <th>Sunday</th>
                </tr>
                {% for event in days.Sunday  %}
                <tr>
                    <td>Places near {{ event.location }}
                        <ul>
                        {% for place in event.places %}
                            <li>{{ place }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <th>Monday</th>
                </tr>
                {% for event in days.Monday  %}
                <tr>
                    <td>Places near {{ event.location }}
                        <ul>
                        {% for place in event.places %}
                            <li>{{ place }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <th>Tuesday</th>
                </tr>
                {% for event in days.Tuesday  %}
                <tr>
                    <td>Places near {{ event.location }}
                        <ul>
                        {% for place in event.places %}
                            <li>{{ place }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <th>Wednesday</th>
                </tr>
                {% for event in days.Wednesday  %}
                <tr>
                    <td>Places near {{ event.location }}
                        <ul>
                        {% for place in event.places %}
                            <li>{{ place }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <th>Thursday</th>
                </tr>
                {% for event in days.Thursday  %}
                <tr>
                    <td>Places near {{ event.location }}
                        <ul>
                        {% for place in event.places %}
                            <li>{{ place }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <th>Friday</th>
                </tr>
                {% for event in days.Friday  %}
                <tr>
                    <td>Places near {{ event.location }}
                        <ul>
                        {% for place in event.places %}
                            <li>{{ place }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </td>
        
        <td>
            <table>
                <tr>
                    <th>Saturday</th>
                </tr>
                {% for event in days.Saturday  %}
                <tr>
                    <td>Places near {{ event.location }}
                        <ul>
                        {% for place in event.places %}
                            <li>{{ place }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </td>
        </tr>
        </table>
	<div id="container">	
		<button type="button input-button" onclick="location.href='/';" id="button1" >Home</button>
		<button type="button options-button" onclick="location.href='/result';" id="button2">Change Schedule</button>
		<button type="button logout-button" onclick="location.href='/app_logout';" id="button1">Logout</button>

	</div>
   </body>
</html>
