<html>
	<br><br><br><br><br><br><br>
	
	<a href="https://ibb.co/BCF9xFV"><img src="https://i.ibb.co/yQ7r17n/title2.png" alt="title2" border="0" style= "display: block; margin-left: auto; margin-right: auto;"></a>
	<p style="color:#000000;font-size:30px;font-weight:bold;text-align:center;">Welcome to your homepage!</p>

   <body>
	<br><br><br><br>
	<div id="container">
		<button type="button input-button" onclick="location.href='/result';" id="button1" >Input Schedule</button>
		<button type="button options-button" onclick="location.href='/food';" id="button2">View Food Options</button>
	</div>
	
	
	<input type="button" onclick="location.href='/app_logout';" style="display: block; position: absolute; top: 20px; right: 50px" value="Logout" /><br>
   </body>
   	<style>
		body{
			background-image: url("https://images.unsplash.com/photo-1502741126161-b048400d085d");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			background-color: #e2e2e2;
		}
		#container{
			text-align: center;
		}

		#button1{
			width: 300px;
			height: 40px;
		}		

		#button2{
			width: 300px;
			height: 40px;
		}
   </style>
</html>
