<html>
	<p style="color:#003399;font-size:18px;font-weight:bold;text-align:center;">Welcome VarName!</p>
   <body>
	<input type="button" onclick="location.href='/app_logout';" style="display: inline-block; margin-left: 650px; margin-right: auto;" value="Input Schedule" >
	<input type="button" onclick="location.href='/app_logout';" style="display: inline-block; margin-left: auto; margin-right: auto;" value="View Food Options" /><br>
	
	
	<input type="button" onclick="location.href='/app_logout';" style="display: block; position: absolute; bottom: 20px; right: 20px" value="Logout" /><br>
   </body>
   
</html>