<html>
   <body>
	<input type="button" onclick="location.href='/app_logout';" style="display: block; margin-left: auto; margin-right: auto;" value="Logout" /><br>
      <form action = "http://localhost:5000/result" method = "POST">
         Event Name<input type = "text" name = "name" required/>
         Location<input type = "text" name = "location" required/>
         Day of Week<select name="day">
           <option value="sunday">Sunday</option>
           <option value="monday">Monday</option>
           <option value="tuesday">Tuesday</option>
           <option value="wednesday">Wednesday</option>
           <option value="thursday">Thursday</option>
           <option value="friday">Friday</option>
           <option value="saturday">Saturday</option>
         </select>
         Start Time<input type = "number" name = "start_time" min="0" max="23"required/>
         End Time<input type = "number" name = "end_time" min="0" max="23"required/><br>
         <input type = "submit" value = "Add Event" />
      </form>
   </body>
</html>
